<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un film</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floating"><b>Nom du film</b></ion-label>
      <ion-input [(ngModel)]="movieForm.name"
        placeholder="Entrer le nom du film"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>Nom du producteur</b></ion-label>
      <ion-input [(ngModel)]="movieForm.producerName"
        placeholder="Entrer le nom du producteur"
      ></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating"><b>Date de sortie</b></ion-label>
      <ion-input [(ngModel)]="movieForm.releaseDate"
        placeholder="Entrer le nom du film"
      ></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating">Date de sortie</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Selectionner une date" [(ngModel)]="movieForm.releaseDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">La durée</ion-label>
      <ion-datetime [min]="minTime" [max]="maxTime" pickerFormat="HH:mm" displayFormat="HH:mm" placeholder="Selectionner la durée" [(ngModel)]="currentDate" (ionChange)="onSelectDuration($event)"></ion-datetime>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating"><b>La durée</b></ion-label>
      <ion-input [(ngModel)]="movieForm.duration"
        placeholder="Entrer la durée du film"
      ></ion-input>
    </ion-item> -->




    <ion-item>
      <ion-label position="floating"><b>Synopsis</b></ion-label>
      <ion-input [(ngModel)]="movieForm.synopsis"
        placeholder="Ajouter un résumé"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>Lien du trailer</b></ion-label>
      <ion-input [(ngModel)]="movieForm.trailer"
        placeholder="Insérer un lien vers le trailer"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>Les genres</b></ion-label>
      <ion-select multiple="true" cancelText="Retour" okText="Valider" [(ngModel)]="genreSelected" [value]="genreSelected">
        <ion-select-option *ngFor="let genre of genreList" [value]="genre">{{genre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>Type</b></ion-label>
      <ion-select multiple="true" cancelText="Retour" okText="Valider" [(ngModel)]="typeSelected" [value]="typeSelected">
        <ion-select-option *ngFor="let type of typeList" [value]="types">{{type}}</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating"><b>Liste des cinémas</b></ion-label>
      <ion-select multiple="true" cancelText="Retour" okText="Valider" [(ngModel)]="cinemaSelected" [value]="cinemaSelected" (ionChange)="onSelectCinema($event)">
        <ion-select-option *ngFor="let cinema of cinemaList" [value]="cinema.name">{{cinema.name}}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label><b>Image</b></ion-label>
      <input type="file"
      id="file"
      #userPhoto
      (change)="onFileSelected($event)"
      name="image"
      autocomplete="off"
      />
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="full" style="margin-bottom: 10px;" (click)="addMovie()">Enregistrer</ion-button>
</ion-footer>
