<ion-header>
  <ion-toolbar>
    <ion-text style="font-size: 20px; font-weight: bold;" color="primary">Les cinémas</ion-text>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/accueil"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isAdmin">
      <ion-button fill="outline" color="primary" (click)="openModalAddCinema()">Ajouter un cinéma</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)" [value]="segmentForm">
    <ion-segment-button *ngIf="isAround == true" [value]="form[6].value" [disabled]="form[6].disable">
      <ion-label>A proximité</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="form[0].value" [disabled]="form[0].disable">
      <ion-label>Tous</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="form[1].value" [disabled]="form[1].disable">
      <ion-label>Paris</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="form[2].value" [disabled]="form[2].disable">
      <ion-label>Bordeaux</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="form[3].value" [disabled]="form[3].disable">
      <ion-label>Lyon</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="form[4].value" [disabled]="form[4].disable">
      <ion-label>Nantes</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="form[5].value" [disabled]="form[5].disable">
      <ion-label>Toulouse</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>

    <ion-grid *ngIf="segmentForm == 'AROUND' && isAround == true">
      <ion-row style="height: 150px; border-bottom: 1px solid black;" *ngFor="let cinema of cinemaListAround">
        <div style="display: flex; width: 100%;">
          <ion-col size="4"
            style="height: 150px;display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 100%;
    height: 100%;">
              <img style="width: auto;
    height: 100%;" src="./assets/icon/ugc.png" alt="">
            </div>
          </ion-col>
          <ion-col style="display: flex;
    justify-content: flex-start;
    align-items: center;">
            <div id="info">
              <ion-text>{{cinema.name}}</ion-text>
              <ion-text>{{cinema.address.fullAddress}}</ion-text>
              <ion-text><b>{{cinema.distance}}</b>km</ion-text>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="segmentForm == 'TOUS'">
      <ion-row style="height: 150px; border-bottom: 1px solid black;" *ngFor="let cinema of cinemaList">
        <div style="display: flex; width: 100%;">
          <ion-col size="4"
            style="height: 150px;display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 100%;
    height: 100%;">
              <img style="width: auto;
    height: 100%;" [src]="cinema.image || './assets/icon/ugc.png'" alt="">
            </div>
          </ion-col>
          <ion-col style="display: flex;
    justify-content: flex-start;
    align-items: center;">
            <div id="info">
              <ion-text>{{cinema.name}}</ion-text>
              <ion-text>{{cinema.address.fullAddress}}</ion-text>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="segmentForm == 'PARIS'">
      <ion-row style="height: 150px; border-bottom: 1px solid black;" *ngFor="let cinema of cinemaListParis">
        <div style="display: flex; width: 100%;">
          <ion-col size="4"
            style="height: 150px;display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 100%;
    height: 100%;">
              <img style="width: auto;
    height: 100%;" src="./assets/icon/ugc.png" alt="">
            </div>
          </ion-col>
          <ion-col style="display: flex;
    justify-content: flex-start;
    align-items: center;">
            <div id="info">
              <ion-text>{{cinema.name}}</ion-text>
              <ion-text>{{cinema.address.fullAddress}}</ion-text>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="segmentForm == 'BORDEAUX'">
      <ion-row style="height: 150px; border-bottom: 1px solid black;" *ngFor="let cinema of cinemaListBordeaux">
        <div style="display: flex; width: 100%;">
          <ion-col size="4"
            style="height: 150px;display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 100%;
    height: 100%;">
              <img style="width: auto;
    height: 100%;" src="./assets/icon/ugc.png" alt="">
            </div>
          </ion-col>
          <ion-col style="display: flex;
    justify-content: flex-start;
    align-items: center;">
            <div id="info">
              <ion-text>{{cinema.name}}</ion-text>
              <ion-text>{{cinema.address.fullAddress}}</ion-text>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="segmentForm == 'Lyon'">
      <ion-row style="height: 150px; border-bottom: 1px solid black;" *ngFor="let cinema of cinemaListLyon">
        <div style="display: flex; width: 100%;">
          <ion-col size="4"
            style="height: 150px;display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 100%;
    height: 100%;">
              <img style="width: auto;
    height: 100%;" src="./assets/icon/ugc.png" alt="">
            </div>
          </ion-col>
          <ion-col style="display: flex;
    justify-content: flex-start;
    align-items: center;">
            <div id="info">
              <ion-text>{{cinema.name}}</ion-text>
              <ion-text>{{cinema.address.fullAddress}}</ion-text>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="segmentForm == 'Nantes'">
      <ion-row style="height: 150px; border-bottom: 1px solid black;" *ngFor="let cinema of cinemaListNantes">
        <div style="display: flex; width: 100%;">
          <ion-col size="4"
            style="height: 150px;display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 100%;
    height: 100%;">
              <img style="width: auto;
    height: 100%;" src="./assets/icon/ugc.png" alt="">
            </div>
          </ion-col>
          <ion-col style="display: flex;
    justify-content: flex-start;
    align-items: center;">
            <div id="info">
              <ion-text>{{cinema.name}}</ion-text>
              <ion-text>{{cinema.address.fullAddress}}</ion-text>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="segmentForm == 'Toulouse'">
      <ion-row style="height: 150px; border-bottom: 1px solid black;" *ngFor="let cinema of cinemaListToulouse">
        <div style="display: flex; width: 100%;">
          <ion-col size="4"
            style="height: 150px;display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 100%;
    height: 100%;">
              <img style="width: auto;
    height: 100%;" src="./assets/icon/ugc.png" alt="">
            </div>
          </ion-col>
          <ion-col style="display: flex;
    justify-content: flex-start;
    align-items: center;">
            <div id="info">
              <ion-text>{{cinema.name}}</ion-text>
              <ion-text>{{cinema.address.fullAddress}}</ion-text>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>


  </ion-list>
</ion-content>