<ion-header>
  <ion-toolbar>
    <ion-title>Les séances dans mon cinéma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Rechercher un cinéma"></ion-searchbar>
  <ion-title>Tous les cinémas</ion-title>
  <ion-list>
    <ion-item lines="none">
      <ion-text color="primary" slot="start">Paris (NB DE CINEMAS)</ion-text>
      <ion-icon name="chevron-down" slot="end"></ion-icon>
      <!-- <ion-icon name="chevron-up" slot="end"></ion-icon> -->
    </ion-item>

    <ion-item lines="none">
      <ion-text color="primary" slot="start">Bordeaux (NB DE CINEMAS)</ion-text>
      <ion-icon name="chevron-down" slot="end"></ion-icon>
      <!-- <ion-icon name="chevron-up" slot="end"></ion-icon> -->
    </ion-item>

    <ion-item lines="none">
      <ion-text color="primary" slot="start">Hauts-de-France (NB DE CINEMAS)</ion-text>
      <ion-icon name="chevron-down" slot="end"></ion-icon>
      <!-- <ion-icon name="chevron-up" slot="end"></ion-icon> -->
    </ion-item>
  </ion-list>
</ion-content>
