<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{movie.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  max-height: 500px;">
    <ion-row>
      <ion-col size="4" style="display: flex;
      align-items: center;
      justify-content: center;">
        <img [src]="movie.image" alt="movie.name">
      </ion-col>
      <ion-col size="8" style="display: flex;
      flex-direction: column;
      text-align: justify;">
        <ion-row>
          <ion-col>
            <ion-text style="font-weight: bold; font-size: 30px;">{{movie.name}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text>Sortie le <b>{{movie.releaseDate}}</b></ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text>{{movie.genres}} ({{movie.duration}})</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text>De <b>{{movie.producerName}}</b></ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text><b>Synopsis</b></ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text>{{movie.synopsis}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="position: absolute;
          bottom: 0px;">
            <ion-button color="danger" (click)="getCinemaAvailable(movie.cinemaList)">Où voir ce film ?</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="cinemaList" style="display: flex;
  justify-content: center; width: 100%; height: 100%; max-width: 1000px;
    max-height: 500px;">
    <ion-row *ngFor="let cinema of cinemaList" style="width: 100%;
    height: 50px;
    background-color: #08288b;">
      <ion-col style="width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; cursor: pointer;" (click)="goToCinemaPage(cinema)">
        <ion-text style="font-size: 25px; color:white; font-weight: bold;">{{cinema}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
