<ion-header>
  <ion-toolbar color="primary">
    <ion-text style="font-size: 20px; font-weight: bold;">Les films</ion-text>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/accueil"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isAdmin">
      <ion-button fill="outline" (click)="openModalAddMovie()" shape="round">Ajouter</ion-button>
      <ion-button *ngIf="!deleteMode" fill="outline" shape="round" color="danger" (click)="deleteMode = !deleteMode">Supprimer
      </ion-button>
      <ion-button *ngIf="deleteMode" fill="outline" shape="round" color="danger" (click)="deleteMode = !deleteMode">Annuler
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="card">
      <ion-card>
        <ion-card-header>
          <ion-text>Les séances dans mon cinéma</ion-text>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="openModalCinema()">
            Choisir mon cinéma
            <ion-icon name="chevron-down"></ion-icon>
          </ion-button>
          <ion-button (click)="getCinemaLocation()">
            <ion-icon name="location"></ion-icon>
            A proximité
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

    <div id="btn">
      <ion-button fill="clear">
        <ion-icon name="search"></ion-icon>
        Rechercher un film
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="options"></ion-icon>
        Filtrer / Trier
      </ion-button>
    </div>

    <div id="section" *ngIf="recommendedMovieList.lenght > 0">
      <ion-item lines="none" color="primary">
        <ion-text>Recommandations</ion-text>
        <ion-button slot="end" fill="clear" color="light">Tout voir</ion-button>
      </ion-item>
    </div>

    <div id="newMovie" *ngIf="recommendedMovieList.lenght > 0">
      <ion-slides [options]="slideOpts" pager="true">
        <ion-slide *ngFor="let movie of recommendedMovieList">
          <div id="movie">
            <div id="image">
              <img id="movieImage" [src]="movie.image" alt="">
              <div class="overlay">
                <ion-button fill="clear" style="font-size: 10px;" color="light" (click)="watchTrailer(movie.trailer)">
                  Voir la bande-annonce
                  <ion-icon name="play" color="light"></ion-icon>
                </ion-button>
              </div>
              <img style="width: 100%; height: 100%" src="./assets/icon/ugcMovie.jpeg">
            </div>
            <div id="title" (click)="navigateToMovieDetail(movie)">
              <ion-text>{{movie.name}}</ion-text>
              <ion-icon name="close-circle" size="large" color="danger" *ngIf="deleteMode" (click)="deleteMovie(movie)">
              </ion-icon>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>



    <div id="section">
      <ion-item lines="none" color="primary">
        <ion-text>Nouveautés</ion-text>
        <ion-button slot="end" fill="clear" color="light">Tout voir</ion-button>
      </ion-item>
    </div>

    <div id="newMovie">
      <ion-slides [options]="slideOpts" pager="true">
        <ion-slide *ngFor="let movie of newMovieList">
          <div id="movie">
            <div id="image">
              <img id="movieImage" [src]="movie.image" alt="">
              <div class="overlay">
                <ion-button fill="clear" style="font-size: 10px;" color="light" (click)="watchTrailer(movie.trailer)">
                  Voir la bande-annonce
                  <ion-icon name="play" color="light"></ion-icon>
                </ion-button>
              </div>
              <img style="width: 100%; height: 100%" src="./assets/icon/ugcMovie.jpeg">
            </div>
            <div id="title" (click)="navigateToMovieDetail(movie)">
              <ion-text>{{movie.name}}</ion-text>
              <ion-icon name="close-circle" size="large" color="danger" *ngIf="deleteMode" (click)="deleteMovie(movie)">
              </ion-icon>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>



    <div id="section">
      <ion-item lines="none" color="primary">
        <ion-text>A l'affiche</ion-text>
        <ion-button slot="end" fill="clear" color="light">Tout voir</ion-button>
      </ion-item>
    </div>

    <div id="newMovie">
      <ion-slides [options]="slideOpts" pager="true">
        <ion-slide *ngFor="let movie of frontMovieList">
          <div id="movie">
            <div id="image">
              <img id="movieImage" [src]="movie.image" alt="">
              <div class="overlay">
                <ion-button fill="clear" style="font-size: 10px;" color="light" (click)="watchTrailer(movie.trailer)">
                  Voir la bande-annonce
                  <ion-icon name="play" color="light"></ion-icon>
                </ion-button>
              </div>
              <img style="width: 100%; height: 100%" src="./assets/icon/ugcMovie.jpeg">
            </div>
            <div id="title" (click)="navigateToMovieDetail(movie)">
              <ion-text>{{movie.name}}</ion-text>
              <ion-icon name="close-circle" size="large" color="danger" *ngIf="deleteMode" (click)="deleteMovie(movie)">
              </ion-icon>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div id="section">
      <ion-item lines="none" color="primary">
        <ion-text>Avant-premières</ion-text>
        <ion-button slot="end" fill="clear" color="light">Tout voir</ion-button>
      </ion-item>
    </div>

    <div id="newMovie">
      <ion-slides [options]="slideOpts" pager="true">
        <ion-slide *ngFor="let movie of previewMovieList">
          <div id="movie">
            <div id="image">
              <img id="movieImage" [src]="movie.image" alt="">
              <div class="overlay">
                <ion-button fill="clear" style="font-size: 10px;" color="light" (click)="watchTrailer(movie.trailer)">
                  Voir la bande-annonce
                  <ion-icon name="play" color="light"></ion-icon>
                </ion-button>
              </div>
              <img style="width: 100%; height: 100%" src="./assets/icon/ugcMovie.jpeg">
            </div>
            <div id="title" (click)="navigateToMovieDetail(movie)">
              <ion-text>{{movie.name}}</ion-text>
              <ion-icon name="close-circle" size="large" color="danger" *ngIf="deleteMode" (click)="deleteMovie(movie)">
              </ion-icon>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div id="section">
      <ion-item lines="none" color="primary">
        <ion-text>Liste des films</ion-text>
        <ion-button slot="end" fill="clear" color="light">Tout voir</ion-button>
      </ion-item>
    </div>

    <div id="newMovie">
      <ion-slides [options]="slideOpts" pager="true">
        <ion-slide *ngFor="let movie of basicMovieList">
          <div id="movie">
            <div id="image">
              <img id="movieImage" [src]="movie.image" alt="">
              <div class="overlay">
                <ion-button fill="clear" style="font-size: 10px;" color="light" (click)="watchTrailer(movie.trailer)">
                  Voir la bande-annonce
                  <ion-icon name="play" color="light"></ion-icon>
                </ion-button>
              </div>
              <img style="width: 100%; height: 100%" src="./assets/icon/ugcMovie.jpeg">
            </div>
            <div id="title" (click)="navigateToMovieDetail(movie)">
              <ion-text>{{movie.name}}</ion-text>
              <ion-icon name="close-circle" size="large" color="danger" *ngIf="deleteMode" (click)="deleteMovie(movie)">
              </ion-icon>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>






  </div>
</ion-content>