<ion-header>
  <ion-toolbar>
    <ion-text style="font-size: 20px; font-weight: bold;" color="primary">Les films</ion-text>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="outline" color="primary" (click)="openModalAddMovie()">Ajouter un film</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="card">
      <ion-card>
        <ion-card-header>
          <ion-text>Les séances dans mon cinéma</ion-text>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="openModalCinema()">
            Choisir mon cinéma
            <ion-icon name="chevron-down"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="location"></ion-icon>
            A proximité
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

    <div id="btn">
      <ion-button fill="clear">
        <ion-icon name="search"></ion-icon>
        Rechercher un film
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="options"></ion-icon>
        Filtrer / Trier
      </ion-button>
    </div>

    <div id="section">
      <ion-item lines="none">
        <ion-text>Nouveautés</ion-text>
        <ion-button slot="end" fill="clear">Tout voir</ion-button>
      </ion-item>
    </div>

    <div id="newMovie">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let movie of movieList">
          <div id="movie">
            <div id="image">
              <img  style="width: 100%; height: 100%" src="./assets/icon/ugcMovie.jpeg">
              <div class="overlay">
                <div class="trailer">
                  <ion-button style="font-size: 10px" fill="clear" color="light">
                    Voir la bande annonce
                    <ion-icon name="play" color="light"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
            <div id="title">
              <ion-text>{{movie.name}}</ion-text>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>


    <div id="section">
      <ion-item lines="none">
        <ion-text>A l'affiche</ion-text>
        <ion-button slot="end" fill="clear">Tout voir</ion-button>
      </ion-item>
    </div>

    <div id="section">
      <ion-item lines="none">
        <ion-text>Avant-premières</ion-text>
        <ion-button slot="end" fill="clear">Tout voir</ion-button>
      </ion-item>
    </div>




  </div>
</ion-content>