ion-title {
    margin-top: 20px;
}
#container {
    padding: 10px;
}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#movie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 350px;
    width: 250px;

    #image {
        width: 200px;
        height: 250px;
    }
}

#movie:hover {
    // transform: scale(1.1);

    .overlay {
        opacity: 1;
        background-color: black;
    }
}

.overlay {

    position: absolute;
    width: 200px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;

    ion-text {
        font-size: 15px;
    }
}