ion-title {
    margin-top: 20px;
}
#container {
    padding: 10px;
}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#movie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 350px;
    width: 250px;

    #image {
        background-color: grey;
        width: 200px;
        height: 300px;
    }
}