<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Actualités</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>Tous les flux RSS</ion-title>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-text>Tenez-vous au courant instantanément et gratuitement de toute l'actualité du cinéma, des séries tv, des stars, ... à l'aide de flux RSS.</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-title color="danger">Flux RSS</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item *ngFor="let url of urlList; let index = index">
          <a [href]="url">{{urlListName[index].mot1.toUpperCase()}} {{urlListName[index].mot2.toUpperCase()}}</a>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
